.voting {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: white;
}

.vote {
  height: 100%;
}

.button:first-child {
  margin-bottom: 2px;
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(50% - 1px);
  background-color: rgb(5, 138, 195);
  font-family: Helvetica, sans-serif;
}

.button:hover{
  background-color: rgb(54, 163, 210);
}

.button h1 {
  margin: 0;
}
.winner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgb(5, 138, 195);
  font-family: Helvetica, sans-serif;
}
